<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--    引入外部properties文件-->
    <context:property-placeholder location="classpath:config/db.properties"/>

    <!--    配置数据源  优化数据库的访问的 -->
    <!--    使用连接池 c3p0  阿里巴巴 druid-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--        数据的4项基本属性配置-->
        <property name="url" value="${db.url}"/>
        <property name="driverClassName" value="${db.driver}"/>
        <property name="username" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
        <!--        由其它优化配置-->
        <property name="maxActive" value="20"/>
        <!--        初始化5个连接-->
        <property name="initialSize" value="5"/>
        <!--        最小要有几个-->
        <property name="minIdle" value="3"/>
    </bean>

    <!--    配置事务管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--    配置会话工厂-->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="sessionFactory">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:dao/**/*.xml"/>
    </bean>

    <!--  配置mapper接口扫描配置器  -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.ims.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sessionFactory"/>
    </bean>


</beans>
