<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ims.dao.ProductMapper">

    <insert id="insertProduct">
        insert into ims_goods
        (id,goods_name,goods_type,goods_desc,goods_unit,goods_quantity,goods_price,goods_spec,fk_create_user,create_time,fk_update_user,update_time,is_deleted,status)
            value
            (#{product.id},#{product.productName},#{product.productType},#{product.productDesc},#{product.productUnit},#{product.productQuantity},#{product.productPrice},#{product.productSpec},
            #{product.createUser},#{product.createTime},#{product.updateUser},#{product.updateTime},
            #{product.isDeleted},#{product.status})
    </insert>

    <update id="updateProduct">
        update ims_goods
        <set>
            <if test="product.productName != null and product.productName != ''">
                goods_name = #{product.productName},
            </if>
            <if test="product.productQuantity != null">
                goods_quantity = #{product.productQuantity},
            </if>
            <if test="product.productType != null and product.productType != ''">
                goods_type = #{product.productType},
            </if>
            <if test="product.productDesc != null and product.productDesc != ''">
                goods_desc = #{product.productDesc},
            </if>
            <if test="product.productPrice != null">
                goods_price = #{product.productPrice},
            </if>
            <if test="product.productUnit != null and product.productUnit != ''">
                goods_unit = #{product.productUnit},
            </if>
            <if test="product.productSpec != null and product.productSpec != ''">
                goods_spec= #{product.productSpec},
            </if>
            <if test="product.createUser != null">
                fk_create_user = #{product.createUser},
            </if>
            <if test="product.createTime != null">
                create_time = #{product.createTime},
            </if>
            <if test="product.updateTime != null">
                update_time = #{product.updateTime},
            </if>
            <if test="product.isDeleted != null">
                is_deleted = #{product.isDeleted},
            </if>
            <if test="product.status != null">
                status = #{product.status},
            </if>
        </set>
        where
        is_deleted = 0
        and id = #{product.id}
    </update>

    <select id="productList" resultType="org.ims.pojo.entity.Product">
        select
        id,goods_name productName,create_time createTime,
        goods_type productType,goods_desc productDesc,
        goods_unit productUnit,goods_quantity productQuantity,
        goods_price productPrice,goods_spec productSpec
        from ims_goods
        <where>
            is_deleted = 0
            <if test="query.productName != null and query.productName != ''">
                and goods_name like concat('%',#{query.productName},'%')
            </if>
            <if test="query.productType != null and query.productType != ''">
                and goods_type = #{query.productType}
            </if>
            <if test="query.minCreateTime != null and query.minCreateTime != ''">
                and date_format(create_time,'%Y%m%d') &gt;= date_format(#{query.minCreateTime},'%Y%m%d')
            </if>
            <if test="query.maxCreateTime != null and query.maxCreateTime != ''">
                and date_format(create_time,'%Y%m%d') &lt;= date_format(#{query.maxCreateTime},'%Y%m%d')
            </if>
            limit #{query.start},#{query.end}
        </where>
    </select>

    <select id="productCount" resultType="Integer">
        select
        count(1)
        from ims_goods
        <where>
            is_deleted = 0
            <if test="query.productName != null and query.productName != ''">
                and goods_name like concat('%',#{query.productName},'%')
            </if>
            <if test="query.minCreateTime != null and query.minCreateTime != ''">
                and date_format(create_time,'%Y%m%d') &gt;= date_format(#{query.minCreateTime},'%Y%m%d')
            </if>
            <if test="query.maxCreateTime != null and query.maxCreateTime != ''">
                and date_format(create_time,'%Y%m%d') &lt;= date_format(#{query.maxCreateTime},'%Y%m%d')
            </if>
            <if test="query.productType != null and query.productType != ''">
                and goods_type = #{query.productType}
            </if>
        </where>
    </select>

    <delete id="del">
        delete from ims_goods
        where
            id = #{id}
    </delete>

    <select id="selectList" resultType="org.ims.pojo.vo.ProductSelectVO">
        select
            id,goods_name title
        from ims_goods
        where
            is_deleted = 0
    </select>

    <select id="detail" resultType="org.ims.pojo.entity.Product">
        select
            id,goods_name productName,goods_type productType,
            goods_desc productDesc,goods_unit productUnit,
            goods_quantity productQuantity,goods_price productPrice,
            goods_spec productSpec
            from ims_goods
            where
                is_deleted = 0
                and id = #{id}
    </select>
</mapper>
